spring-ws-recipes/src/main/resources/recipe.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://binit.blogspot.com/ws/schema/recipe" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://binit.blogspot.com/ws/schema/recipe" targetNamespace="http://binit.blogspot.com/ws/schema/recipe">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://binit.blogspot.com/ws/schema/recipe">

	<element name="recipeId" tns:maxOccurs="1" tns:minOccurs="1" type="int"/>

	<element name="recipeName" tns:maxOccurs="1" tns:minOccurs="1">
		<simpleType>
			<restriction base="string">
				<minLength value="1"/>
				<maxLength value="200"/>
				<whiteSpace value="collapse"/>
			</restriction>
		</simpleType>
	</element>

	<element name="recipeDescripton" tns:maxOccurs="1" tns:minOccurs="1">
		<simpleType>
			<restriction base="string">
				<minLength value="1"/>
				<whiteSpace value="collapse"/>
				<maxLength value="2000"/>
			</restriction>
		</simpleType>
	</element>

	<element name="recipeType" tns:maxOccurs="1" tns:minOccurs="1">
		<simpleType>
			<restriction base="string">
				<minLength value="1"/>
				<whiteSpace value="collapse"/>
				<maxLength value="200"/>
			</restriction>
		</simpleType>
	</element>

	<element name="createdBy" tns:maxOccurs="1" tns:minOccurs="0">
		<simpleType>
			<restriction base="string">
				<minLength value="0"/>
				<maxLength value="200"/>
				<whiteSpace value="collapse"/>
			</restriction>
		</simpleType>
	</element>

	<element name="visitorCount" type="int"/>

    <element name="process" tns:maxOccurs="1" tns:minOccurs="0">
    	<simpleType>
    		<restriction base="string">
    			<minLength value="0"/>
    			<whiteSpace value="collapse"/>
    			<maxLength value="200"/>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="recipeDetailId" tns:maxOccurs="1" tns:minOccurs="1" type="int"/>

    <element name="ingredientName">
    	<simpleType>
    		<restriction base="string">
    			<minLength value="1"/>
    			<whiteSpace value="collapse"/>
    			<maxLength value="200"/>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="uom">
    	<simpleType>
    		<restriction base="string">
    			<minLength value="1"/>
    			<whiteSpace value="collapse"/>
    			<maxLength value="200"/>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="quantity">
    	<simpleType>
    		<restriction base="string">
    			<minLength value="1"/>
    			<whiteSpace value="collapse"/>
    			<maxLength value="200"/>
    		</restriction>
    	</simpleType>
    </element>

    <element name="code" tns:maxOccurs="1" tns:minOccurs="1">
        <simpleType>
            <restriction base="string">
                 <enumeration value="SUCCESS"/>
      			 <enumeration value="FAILURE"/>
            </restriction>
        </simpleType>
    </element>
    
    <element name="editType" tns:maxOccurs="1" tns:minOccurs="1">
        <simpleType>
            <restriction base="string">
                 <enumeration value="ADD"/>
      			 <enumeration value="UPDATE"/>
            </restriction>
        </simpleType>
    </element>

	<element name="recipe_ingredients" tns:maxOccurs="1" tns:minOccurs="1">
	    <complexType>
			<sequence>
				<element ref="tns:recipeDetailId"/>
				<element ref="tns:ingredientName"/>
				<element ref="tns:uom"/>
				<element ref="tns:quantity"/>
			</sequence>
	    </complexType>
	</element>
	<element name="recipe" tns:maxOccurs="1" tns:minOccurs="1">
		<complexType>
			<sequence>
				<element ref="tns:recipeId"/>
				<element ref="tns:recipeName"/>
				<element ref="tns:recipeDescripton"/>
				<element ref="tns:createdBy"/>
				<element ref="tns:recipeType"/>
				<element ref="tns:visitorCount"/>
				<element ref="tns:process"/>
				<sequence>
					<element ref="tns:recipe_ingredients"/>
				</sequence>
			</sequence>
		</complexType>
	</element>
	
	<element name="getRecipeRequest" tns:maxOccurs="1" tns:minOccurs="1">
		<complexType>
			<sequence>
				<element ref="tns:recipeName"/>
			</sequence>
		</complexType>
	</element>
	<element name="getRecipeResponse" tns:maxOccurs="1" tns:minOccurs="1">
		<complexType>
			<sequence>
				<element ref="tns:code"/>
				<element maxOccurs="unbounded" minOccurs="1" ref="tns:recipe"/>
			</sequence>
		</complexType>
	</element>

	<element name="editRecipeRequest" tns:maxOccurs="1" tns:minOccurs="1">
		<complexType>
			<sequence>
				<element ref="tns:editType"/>
				<element ref="tns:recipe"/>
			</sequence>
		</complexType>
	</element>
	<element name="editRecipeResponse" tns:maxOccurs="1" tns:minOccurs="1">
		<complexType>
			<sequence>
				<element ref="tns:code"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="deleteRecipeRequest" tns:maxOccurs="1" tns:minOccurs="1">
		<complexType>
			<sequence>
				<element ref="tns:recipeId"/>
			</sequence>
		</complexType>
	</element>
	<element name="deleteRecipeResponse" tns:maxOccurs="1" tns:minOccurs="1">
		<complexType>
			<sequence>
				<element ref="tns:code"/>
			</sequence>
		</complexType>
	</element>

</schema>
  </wsdl:types>
  <wsdl:message name="editRecipeResponse">
    <wsdl:part element="tns:editRecipeResponse" name="editRecipeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecipeResponse">
    <wsdl:part element="tns:getRecipeResponse" name="getRecipeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editRecipeRequest">
    <wsdl:part element="tns:editRecipeRequest" name="editRecipeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRecipeRequest">
    <wsdl:part element="tns:deleteRecipeRequest" name="deleteRecipeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecipeRequest">
    <wsdl:part element="tns:getRecipeRequest" name="getRecipeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRecipeResponse">
    <wsdl:part element="tns:deleteRecipeResponse" name="deleteRecipeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RecipePort">
    <wsdl:operation name="editRecipe">
      <wsdl:input message="tns:editRecipeRequest" name="editRecipeRequest">
    </wsdl:input>
      <wsdl:output message="tns:editRecipeResponse" name="editRecipeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipe">
      <wsdl:input message="tns:getRecipeRequest" name="getRecipeRequest">
    </wsdl:input>
      <wsdl:output message="tns:getRecipeResponse" name="getRecipeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRecipe">
      <wsdl:input message="tns:deleteRecipeRequest" name="deleteRecipeRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteRecipeResponse" name="deleteRecipeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecipePortSoap11" type="tns:RecipePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="editRecipe">
      <soap:operation soapAction=""/>
      <wsdl:input name="editRecipeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editRecipeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipe">
      <soap:operation soapAction=""/>
      <wsdl:input name="getRecipeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecipeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRecipe">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteRecipeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteRecipeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipePortService">
    <wsdl:port binding="tns:RecipePortSoap11" name="RecipePortSoap11">
      <soap:address location="/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>